[oracle-api]
database.tns=<database tns eg. autonomousdatabase_low>
database.driver=oracle.jdbc.OracleDriver
admin.user=admin
admin.password=<password>
data.user=datastore
data.password=<password>
oci.profile=<profile eg. DEFAULT>
oci.config=<config eg. ~/.oci/config>
oci.bucket.name=<bucket name eg. datastore>
oci.bucket.compartment=<blank to use default tenancy or compartment ocid>
